/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


/* Hide Edge/IE native password reveal + clear buttons */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Hide Safari/iOS autofill/reveal decoration if shown */
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
  visibility: hidden;
}

/* Normalize appearance across browsers */
input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
}